.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #131324;
    height: 100vh;
    width: 100vw;  
  }

  .loader img{
    height: 20rem;
  }


  .title-container  h1{
      color: white;
  }

  .avatars {
    display: flex;
    gap: 2rem; 
  }

  .avatars img {
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 6rem;
  }

  .selected {
    border: 0.4rem solid #4e0eff;
  }

  .submit-btn {
    background-color: #4e0eff;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
      background-color: #4e0eff;
    }
  }